In [1]:
import os
import pandas as pd

In [2]:
table_name = 'temptable.csv'
os.chdir('../data')
df = pd.read_csv(table_name)

In [3]:
df.sample(5)

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
18697,19920,71,88,3661,19,16,5,11,4,7,...,185.0,91.0,3665,37.0,Marián Gáborík,marian gaborik,NaN,8468483,2013,regular
23010,24478,80,62,8884,81,23,6,17,40,3,...,NaN,194.0,8889,35.0,Matt Stajan,matt stajan,NaN,8470162,2016,regular
2855,3075,41,1479,8989,10,4,1,3,4,-1,...,187.0,92.0,8993,43.0,Mike Leclerc,mike leclerc,NaN,8462084,2003,regular
20070,21366,50,72,8995,75,12,4,8,36,1,...,185.0,91.0,9000,43.0,Brad Lukowich,brad lukowich,NaN,8460580,2006,regular
9316,9994,5,86,54460,46,17,4,13,85,-32,...,188.0,95.0,54408,50.0,Jayson More,jayson more,NaN,8449694,1991,regular

In [4]:
class DataFrameTransformer:
    def __init__(self, df):
        self.df = df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in self.transforms:
            self.df = transform(self.df)
        return self.df

In [5]:
# Пример - добавить столбец с общим числом очков для игрока

def add_total_points(df):
    df['total_points'] = df['points'].groupby(df['player_id']).transform('sum')
    return df

# ...

In [6]:
# Для добавления в трансформер достаточно написать функцию и добавить ее в массив transforms ниже

transformer = DataFrameTransformer(df)
transformer.add_transform(add_total_points)
ext_df = transformer.fit()

In [7]:
ext_df[['player_id', 'total_points']].sample(5)

       player_id  total_points
5806       13396             3
15019      50167            29
5577        9026           369
15013      12772             7
8377       52537           110

## Features for teams

In [8]:
table_name = 'team_stats.csv'
os.chdir('../data')
team_stats_df = pd.read_csv(table_name)

In [9]:
team_stats_df.sample(5)

,id,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
16793,17995,216,92,38,42.0,106,102,12,7.0,False,3.0,NaN
4898,5244,649,91,37,NaN,3,69,23,NaN,True,NaN,NaN
3567,3815,724,91,36,NaN,3,94,10,NaN,True,NaN,NaN
849,897,6116,91,37,NaN,2,103,5,NaN,True,NaN,NaN
25196,27439,216,92,38,42.0,106,102,12,7.0,False,3.0,NaN

In [10]:
import numpy as np

# transform methods for seasons
def add_avg_games_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['games'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_games_count_season']))
    return df

def add_avg_points_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['points'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_points_season']))
    return df

def add_sum_points_for_season(df, team_stats_df):
    df = df.join(team_stats_df.groupby('season_id')['points'].sum(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sum_points_season']))
    return df

def add_team_count_for_season(df, team_stats_df):
    df = df.merge(team_stats_df.groupby('season_id').apply(lambda x: len(x['team_id'].unique())).rename('feature_team_count_season'), on='season_id')
    return df

# transform methods for teams
def add_avg_games_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['games'].mean(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_games_count_team']))
    return df

def add_avg_points_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['points'].mean(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_points_team']))
    return df

def add_sum_points_for_team(df, team_stats_df):
    df = df.join(team_stats_df.groupby('team_id')['points'].sum(), on='team_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sum_points_team']))
    return df

In [11]:
class DataFrameTransformer:
    def __init__(self, df, team_stats_df):
        self.df = df
        self.team_stats_df = team_stats_df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df, self.team_stats_df)
        return self.df

In [12]:
transforms = [add_avg_games_for_season, add_avg_points_for_season, add_sum_points_for_season, add_team_count_for_season, add_avg_games_for_team, add_avg_points_for_team, add_sum_points_for_team]
transformer = DataFrameTransformer(df, team_stats_df)
transformer.add_transforms(transforms)
ext_df = transformer.fit()

In [13]:
ext_df

,player_stats_id,season_id,team_id,player_id,games,points,goals,assists,penalty,p_m,...,season_year,season_type,total_points,feature_mean_games_count_season,feature_mean_points_season,feature_sum_points_season,feature_team_count_season,feature_mean_games_count_team,feature_mean_points_team,feature_sum_points_team
0,0,41,1479,8517,21,6,0,6,12,1,...,2003,regular,619,82.0,87.370370,2359.0,27,79.360000,86.280000,2157.0
1,18,41,78,9665,20,4,2,2,4,-9,...,2003,regular,11,82.0,87.370370,2359.0,27,79.571429,91.142857,2552.0
2,38,41,82,10673,2,0,0,0,0,0,...,2003,regular,5,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
3,48,41,86,8658,69,19,2,17,12,8,...,2003,regular,132,82.0,87.370370,2359.0,27,79.555556,85.629630,2312.0
4,54,41,77,8833,1,0,0,0,0,0,...,2003,regular,71,82.0,87.370370,2359.0,27,79.571429,89.892857,2517.0
5,76,41,82,42376,58,26,6,20,26,-24,...,2003,regular,380,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
6,78,41,74,8939,58,6,2,4,16,-10,...,2003,regular,53,82.0,87.370370,2359.0,27,79.571429,86.607143,2425.0
7,100,41,66,3652,81,31,11,20,40,-6,...,2003,regular,974,82.0,87.370370,2359.0,27,80.380952,83.476190,1753.0
8,116,41,68,3655,55,22,14,8,57,-5,...,2003,regular,421,82.0,87.370370,2359.0,27,79.360000,78.840000,1971.0
9,126,41,82,8615,57,34,13,21,54,-11,...,2003,regular,261,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
10,155,41,86,8580,2,1,1,0,4,1,...,2003,regular,446,82.0,87.370370,2359.0,27,79.555556,85.629630,2312.0
11,289,41,67,11570,37,7,2,5,29,-5,...,2003,regular,101,82.0,87.370370,2359.0,27,79.571429,81.928571,2294.0
12,343,41,88,9121,13,3,2,1,24,-1,...,2003,regular,44,82.0,87.370370,2359.0,27,79.571429,82.964286,2323.0
13,487,41,85,9104,69,21,2,19,61,12,...,2003,regular,639,82.0,87.370370,2359.0,27,79.571429,98.642857,2762.0
14,511,41,82,9430,19,1,1,0,12,-5,...,2003,regular,76,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
15,530,41,63,9074,71,39,16,23,22,5,...,2003,regular,813,82.0,87.370370,2359.0,27,79.571429,91.857143,2572.0
16,885,41,82,8720,76,6,3,3,228,-10,...,2003,regular,54,82.0,87.370370,2359.0,27,80.111111,78.833333,1419.0
17,957,41,65,2713,10,1,0,1,4,-2,...,2003,regular,22,82.0,87.370370,2359.0,27,79.571429,87.000000,2436.0
18,976,41,70,21892,17,10,5,5,29,12,...,2003,regular,506,82.0,87.370370,2359.0,27,79.360000,92.520000,2313.0
19,1035,41,88,2708,57,11,3,8,12,-9,...,2003,regular,11,82.0,87.370370,2359.0,27,79.571429,82.964286,2323.0
20,1406,41,86,21509,82,41,12,29,66,-5,...,2003,regular,949,82.0,87.370370,2359.0,27,79.555556,85.629630,2312.0
21,1452,41,77,10317,5,0,0,0,0,1,...,2003,regular,105,82.0,87.370370,2359.0,27,79.571429,89.892857,2517.0
22,1518,41,77,76440,48,12,1,11,28,11,...,2003,regular,545,82.0,87.370370,2359.0,27,79.571429,89.892857,2517.0
23,1535,41,70,8756,69,24,9,15,52,2,...,2003,regular,276,82.0,87.370370,2359.0,27,79.360000,92.520000,2313.0
24,1667,41,83,9131,80,20,7,13,208,-2,...,2003,regular,205,82.0,87.370370,2359.0,27,79.571429,83.500000,2338.0
25,1707,41,85,9139,67,40,24,16,31,22,...,2003,regular,361,82.0,87.370370,2359.0,27,79.571429,98.642857,2762.0
26,2420,41,83,2664,79,9,2,7,40,-1,...,2003,regular,85,82.0,87.370370,2359.0,27,79.571429,83.500000,2338.0
27,2452,41,75,9010,36,4,2,2,14,2,...,2003,regular,205,82.0,87.370370,2359.0,27,79.571429,86.750000,2429.0
28,2453,41,83,9010,5,2,1,1,2,2,...,2003,regular,205,82.0,87.370370,2359.0,27,79.571429,83.500000,2338.0
29,2627,41,1479,8613,80,65,31,34,42,-5,...,2003,regular,1179,82.0,87.370370,2359.0,27,79.360000,86.280000,2157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24189,25196,35,81,7303,21,7,4,3,6,0,...,2001,regular,74,82.0,86.555556,2337.0,27,79.538462,79.423077,2065.0
24190,25211,35,76,8700,79,38,17,21,113,1,...,2001,regular,197,82.0,86.555556,2337.0,27,79.571429,76.107143,2131.0
24191,25236,35,68,68861,6,0,0,0,12,0,...,2001,regular,0,82.0,86.555556,2337.0,27,79.360000,78.840000,1971.0
24192,25249,35,83,8971,82,16,6,10,18,10,...,2001,regular,166,82.0,86.555556,2337.0,27,79.571429,83.500000,2338.0
24193,25306,35,66,2653,77,69,27,42,23,9,...,2001,regular,424,82.0,86.555556,2337.0,27,80.380952,83.476190,1753.0
24194,25328,35,88,62815,74,13,6,7,105,-13,...,2001,regular,257,82.0,86.555556,2337.0,27,79.571429,82.964286,2323.0
24195,25335,35,62,8570,56,33,14,19,48,-18,...,2001,regular,510,82.0,86.555556,2337.0,27,79.571429,84.107143,2355.0
24196,25357,35,66,8785,81,55,23,32,40,3,...,2001,regular,1123,82.0,86.555556,2337.0,27,80.380952,83.476190,1753.0
24197,25395,35,75,69531,16,2,0,2,4,-4,...,2001,regular,261,82.0,86.555556,2337.0,27,79.571429,86.750000,2429.0
24198,25396,35,70,69531,32,13,4,9,8,5,...,2001,regular,261,82.0,86.555556,2337.0,27,79.360000,92.520000,2313.0
24199,25397,35,80,69531,13,8,5,3,0,-4,...,2001,regular,261,82.0,86.555556,2337.0,27,79.538462,81.269231,2113.0
24200,25409,35,75,8775,71,33,4,29,25,9,...,2001,regular,420,82.0,86.555556,2337.0,27,79.571429,86.750000,2429.0
24201,25489,35,75,13957,8,1,1,0,8,-1,...,2001,regular,16,82.0,86.555556,2337.0,27,79.571429,86.750000,2429.0
24202,25494,35,73,1607,79,36,15,21,56,-15,...,2001,regular,119,82.0,86.555556,2337.0,27,80.300000,89.250000,1785.0
24203,25522,35,74,14750,40,4,0,4,113,4,...,2001,regular,20,82.0,86.555556,2337.0,27,79.571429,86.607143,2425.0
24204,25546,35,79,8619,79,57,24,33,50,-7,...,2001,regular,267,82.0,86.555556,2337.0,27,79.571429,92.107143,2579.0
24205,25623,35,84,10228,66,25,8,17,44,21,...,2001,regular,211,82.0,86.555556,2337.0,27,79.571429,85.821429,2403.0
24206,25655,35,67,9037,61,8,2,6,28,-1,...,2001,regular,30,82.0,86.555556,2337.0,27,79.571429,81.928571,2294.0
24207,25681,35,62,8824,66,18,4,14,61,-1,...,2001,regular,97,82.0,86.555556,2337.0,27,79.571429,84.107143,2355.0
24208,25686,35,82,3573,4,1,1,0,2,-2,...,2001,regular,2,82.0,86.555556,2337.0,27,80.111111,78.833333,1419.0
24209,25695,35,75,8727,56,11,1,10,14,-25,...,2001,regular,258,82.0,86.555556,2337.0,27,79.571429,86.750000,2429.0
24210,25712,35,66,4516,4,0,0,0,2,0,...,2001,regular,58,82.0,86.555556,2337.0,27,80.380952,83.476190,1753.0
24211,25713,35,68,4516,31,11,5,6,34,-2,...,2001,regular,58,82.0,86.555556,2337.0,27,79.360000,78.840000,1971.0
24212,25725,35,68,69525,79,9,4,5,354,-15,...,2001,regular,46,82.0,86.555556,2337.0,27,79.360000,78.840000,1971.0
24213,25742,35,63,191228,78,24,7,17,16,6,...,2001,regular,287,82.0,86.555556,2337.0,27,79.571429,91.857143,2572.0
24214,25752,35,82,5517,81,8,2,6,90,-29,...,2001,regular,16,82.0,86.555556,2337.0,27,80.111111,78.833333,1419.0
24215,25764,35,76,69981,2,0,0,0,5,-1,...,2001,regular,4,82.0,86.555556,2337.0,27,79.571429,76.107143,2131.0
24216,25767,35,64,3734,3,0,0,0,0,0,...,2001,regular,0,82.0,86.555556,2337.0,27,80.521739,90.565217,2083.0
24217,25771,35,69,8634,62,24,5,19,32,-6,...,2001,regular,333,82.0,86.555556,2337.0,27,80.111111,87.500000,1575.0
24218,25786,35,65,67158,3,0,0,0,0,-2,...,2001,regular,1,82.0,86.555556,2337.0,27,79.571429,87.000000,2436.0

## Features for seasons

In [75]:
import pandas as pd
import os
import numpy as np

### Let's initialize all of the tables

In [102]:
player_stats_df = pd.read_csv('../data/player_stats.csv')
season_df = pd.read_csv('../data/season.csv')

In [103]:
temptable = pd.read_csv('../data/temptable.csv')
df = temptable[['player_stats_id', 'season_id', 'team_id', 'player_id']].copy()
df.sample(5)

      player_stats_id  season_id  team_id  player_id
8631             9286          8       81      14033
5039             5425         47       82       9153
8770             9425         71       75       5367
2605             2808         56       64      11585
377               400         53       66       9140

In [104]:
class DataFrameTransformer_season:
    def __init__(self, df, player_stats_df):
        self.df = df
        self.player_stats_df = player_stats_df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df, self.player_stats_df)
        return self.df

In [105]:
# Average points per season
def avg_points_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['points'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_points_season']))
    return df

# Median points per season
def med_points_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['points'].median(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['featrue_median_points_season']))
    return df

# Average goals per season
def avg_goals_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['goals'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_goals_season']))
    return df

# Sum of squares of goals per season
def sum_sq_goals_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['goals'].apply(lambda x: x**2).sum(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sumofsquares_goals_season']))
    return df

# Average assists per season
def avg_assists_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['assists'].mean(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_mean_assists_season']))
    return df

# Sum of squares assists per season
def sum_sq_assists_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['assists'].apply(lambda x: x**2).sum(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sumofsquares_assists_season']))
    return df

# Sum of penalty per season
def sum_penalty_per_season(df, player_stats_df):
    df = df.join(player_stats_df.groupby('season_id')['penalty'].sum(), on='season_id', rsuffix='_')
    df.columns=np.append(np.array(df.columns[:-1]), np.array(['feature_sum_penalty_season']))
    return df